<div id="clientDatabase" ng-show="authenticated">
	<div>
		<span id="upload-file">
		<label for="file" class="custom-button">
			Upload
			<i class = "fa fa-upload"></i>
		</label>
		<input ng-model="uploadDownloads" type="file" id="file" fd-input file-name="fileName" file-up-fn="addClients()"/>
		</span>
		<label class = "custom-button">
			Add Client
			<i class = "fa fa-user"></i>
			<button id = "add-button" type="button" data-toggle="modal" data-target="#addModal"></button>
		</label>
	</div>
	
	<div class="badge badge-important" ng-show = "file_chosen">{{fileName}}</div>
	<table id = database class = "table table-striped tr-hover small-font">
		<thead>
			<th>Client ID (number)</th>
			<th>Last Name</th>
			<th>First Name</th>
			<th>Email</th>
			<th>Cell Phone</th>
			<th>Home Phone</th>
			<th>Actions</th>
		</thead>
		<tbody>
		<tr ng-repeat="x in clients">
			<td>{{x.clientID}}</td>
			<td>{{x.lastName}}</td>
			<td>{{x.firstName}}</td>
			<td>{{x.email}}</td>
			<td>{{x.cellPhone}}</td>
			<td>{{x.homePhone}}</td>
			<td>
				<!-- TODO EDIT
				<button ng-click = "editClient(x)" class="btn btn-xs btn-success"><i class="fa fa-edit"></i>Edit</button>
				-->
				<button ng-click = "removeClient(x)" class="btn btn-xs btn-danger"><i class="fa fa-trash-o"></i>Delete</button>
			</td>
		</tr>
		</tbody>
	</table>
</div>

<!-- Add Modal -->
<div id="addModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

		<!-- Modal content-->
	  <div class="modal-content">
		<div class="modal-header">
		  <button type="button" class="close" data-dismiss="modal">&times;</button>
		  <h4 style="color:red;"><span class="fa fa-user"></span> Add a Client</h4>
		</div>
		<div class="modal-body">
		  <form role="form">
			<div class="form-group">
			  <label for="clientid">Client ID (Leave blank to auto-create)</label>
			  <input type="text" class="form-control" id="clientid" placeholder="Enter client ID" ng-model="tclient.clientID">
			</div>
			<div class="form-group">
			  <label for="firstname">First Name</label>
			  <input type="text" class="form-control" id="firstname" placeholder="Enter first name" ng-model="tclient.firstName">
			</div>
			<div class="form-group">
			  <label for="lastname">Last Name</label>
			  <input type="text" class="form-control" id="lastname" placeholder="Enter last name" ng-model="tclient.lastName">
			</div>
			<div class="form-group">
			  <label for="email">Email</label>
			  <input type="text" class="form-control" id="email" placeholder="Enter email" ng-model="tclient.email">
			</div>
			<div class="form-group">
			  <label for="cellphone">Cell Phone</label>
			  <input type="text" class="form-control" id="cellphone" placeholder="Enter cell phone" ng-model="tclient.cellPhone">
			</div>
			<div class="form-group">
			  <label for="homephone">Home Phone</label>
			  <input type="text" class="form-control" id="homephone" placeholder="Enter home phone" ng-model="tclient.homePhone">
			</div>
			<button ng-click = "addClient()" type="submit" class="btn btn-default btn-primary btn-block" data-dismiss="modal">Add to Database</button>
		  </form>
		  <span class = "pull-left">{{add_error_message}}</span>
		</div>
		<div class="modal-footer">
		</div>
	  </div>
  </div>
</div>